<%= form_with(model: [ @project, task ], local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.text_field :name, placeholder: 'Enter task name...', class: 'mr-1'%>
    <%= form.text_area :description, placeholder: 'Enter description', rows: '1', class: 'mr-1' %>
    <%= form.select :status, Task::STATUS_OPTIONS %>


    <div class="input-group-append ml-3">
      <%= form.submit "Fixit", class: "btn btn-sm btn-success" %>
      <%= link_to "Done", project_task_path(@project, task), method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger float-right font-weight-bold ml-2"%>
    </div>
  </div>
<% end %>
