<div class="container ml-4 ">
  <%= link_to "Home", root_path, class: "btn btn-sm btn-primary  mb-4" %>
  <%= link_to 'Back', projects_path, class: "btn btn-sm btn-primary ml-2 mb-4" %>


  <h3><strong>Project:</strong>
    <%= @project.name %>
  </h3>
  <p>
  <strong class="ml-4">Description:</strong>
  <%= @project.description %>

  <strong>User Id:</strong>
  <%= @project.user_id %>
  </p>



<div class="container-title bg-info text-white p-2">
  <h5><strong>Tasks List:</strong></h5>
  <div class="row ml-3">
    <% @project.tasks.each do |task| %>
    <div class="col-sm-6 ">
        <%= link_to task.name, project_task_path(@project, task), class: 'text-decoraton-none text-white font-weight-bold' %>
    </div>
    <div class="col-sm-6">
       <%= task.description %>
    </div>
  <% end %>
</div>
</div>
<!-- Edit Tasks List START -->

<h4 class="m-4 text-center">Edit <%= @project.name %> Tasks </h4>
<%= render @project.tasks %>

<!-- Edit Tasks List END -->

<h5 class="text-center m-4">Add a New <%= @project.name %> Task</h5>
<%= render 'tasks/form1', task: @project.tasks.build %>
</div>


